@using AppStore.Domain.ViewModels
@model ProductListViewModels

@{
    ViewData["Title"] = "لیست محصولات";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" asp-area="Admin">خانه</a></li>
                    <li class="breadcrumb-item"><a asp-controller="ProductSubGoup" asp-action="SubGroupList" asp-area="Admin">لیست زیر گروه</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
        <div class="row d-flex justify-content-start">
            <a asp-action="ProductCreat" asp-controller="Product" asp-area="Admin" asp-route-id="@Model.SubGroupId" class="btn btn-primary d-inline-flex align-items-center">
                <i class="fa fa-plus"></i><span class="mr-2">افزودن محصول جدید</span>
            </a>
        </div>

    </div><!-- /.container-fluid -->
</section>


<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>عنوان محصول</th>
                            <th>تاریخ ثبت</th>
                            <th>تاریخ ویرایش</th>
                            <th>قیمت </th>
                            <th>عکس</th>
                            <th>خلاصه توضیحات</th>
                            <th>توضیحات</th>
                            <th>حذف</th>
                        </tr>
                        @foreach (var item in Model.Products)
                        {
                            var rowClass = item.IsDelete ? "table-danger" : "";
                            <tr class="@rowClass">
                                <td>@Model.Products.IndexOf(item)</td>
                                <td> @item.Titel </td>
                                <td> @item.CreatDate </td>
                                <td>@item.ModifiedDate</td>
                                <td>@item.Price</td>
                                <td>@item.ImageName</td>
                                <td>@item.ShortDescription</td>
                                <td>@item.Description</td>
                                <td>@item.IsDelete</td>

                                <td>
                                    <a asp-action="Edit" asp-route-Id="@item.ProductId" class="btn btn-warning d-inline-flex align-items-center">
                                        <i class="fa fa-edit"></i><span class="mr-2">ویرایش</span>
                                    </a>
                                    <a asp-action="Delete" asp-route-Id="@item.ProductId" class="btn btn-danger d-inline-flex align-items-center">
                                        <i class="fa fa-trash"></i><span class="mr-2">حذف</span>
                                    </a>
                                    <a asp-action="Delete" asp-route-Id="@item.ProductId" class="btn btn-danger d-inline-flex align-items-center">
                                        <i class="fa "></i><span class="mr-2">جزئیات</span>
                                    </a>
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>